*{
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: black;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 1%;
  background-image: url(https://i.pinimg.com/originals/bd/c6/ba/bdc6bad25f6133f12ba39364e0bc9b9a.jpg);

}



#head{
  margin-left: 10%;
  display: flex;
  justify-content: flex-end;
}



.items:hover{
  background-color: rgb(46, 62, 236);
  color: rgb(27, 18, 18);
  box-shadow: -0.3ch 0.3ch  -0.3ch 0.3ch  0.5ch whitesmoke;
  transform: scale(1);

}


.items{
  flex:1;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px auto;
  text-align: center;
  padding: 2px;
  cursor: pointer;  
  position: relative fixed;
  z-index: 1;
  transform: scale(0.9);
  transition: 0.2s;


}





button{
  border-radius: 5px;
  display: list-item;
  justify-content: space-between;
}



/* table outer line style */
fieldset{
  margin-top: 10%;
  margin-left: 10%;
  border: soild 1px rgb(18, 13, 13);
  height: 80%;
  width: 80%;
  line-height: 4ch;
  color: rgb(14, 2, 2);
  text-align: center;
  align-items: center;
  padding: 10px auto;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: -0.3ch -0.3ch 5ch 1ch rgb(229, 224, 224);
  box-shadow: 0.3ch 0.3ch 5ch 1ch rgb(238, 238, 234);
  text-align: center;
  animation: down linear 0.9s 1 ;


}

legend{
  border:1px solid white   ;
  border-radius: 8px;
  box-shadow: -0.3ch -0.3ch 1ch 1ch rgb(238, 234, 234);
  box-shadow: 0.3ch 0.3ch 1ch 1ch rgb(240, 240, 239);
}
/* table outer line style */




/* mini  project inner line style */

.head{
  margin: 10%;

  border: soild 1px white;
  height: 80%;
  width: 80%;
  line-height: 4ch;
  color: rgb(9, 7, 7);
  padding: 3px;
  border-radius: 20px;
  box-shadow: -0.3ch -0.3ch 5ch 1ch rgb(230, 218, 218);
  box-shadow: 0.3ch 0.3ch 5ch 1ch rgb(243, 243, 236);
  text-align: center;
  font-weight: 300;
}

.tile{
  border:1px solid rgb(8, 7, 7)   ;
  border-radius: 8px;
  box-shadow: -0.3ch -0.3ch 1ch 1ch rgb(233, 226, 226);
  box-shadow: 0.3ch 0.3ch 1ch 1ch rgb(238, 240, 238);
}
/* mini  project inner line style */


/* certificates  project style */

.head1{
  margin: 10%;
  margin-left: 22%;
  border: soild 1px white;
  height: 70%;
  width: 60%;
  line-height: 4ch;
  color: white;

  border-radius: 20px;
  box-shadow: -0.3ch -0.3ch 5ch 1ch rgb(244, 241, 241);
  box-shadow: 0.3ch 0.3ch 5ch 1ch rgb(239, 239, 234);
  text-align: center;
  animation: down linear 2s 1 ;
}



.tile1{
  border:1px solid rgb(234, 220, 220)   ;
  border-radius: 8px;
  
  box-shadow: -0.3ch -0.3ch 1ch 1ch rgb(231, 228, 228);
  box-shadow: 0.3ch 0.3ch 1ch 1ch rgb(236, 236, 232);
}
/* certificates  project style end */


/* mini  project outer line style */

.head2{
  margin: 10%;
  margin-left: 17%;
  border: soild 1px white;
  height: 70%;
  width: 60%;
  line-height: 4ch;
  color: white;
  padding: 4%;
  inset-block-start: 20%;
  border-radius: 20px;
  box-shadow: -0.3ch -0.3ch 5ch 1ch rgb(237, 227, 227);
  box-shadow: 0.3ch 0.3ch 5ch 1ch rgb(241, 241, 238);
  text-align: CENTER;

}

.tile2{
  border:1px solid white   ;
  border-radius: 8px;
  box-shadow: -0.3ch -0.3ch 1ch 1ch rgb(233, 227, 227);
  box-shadow: 0.3ch 0.3ch 1ch 1ch rgb(239, 239, 237);
}

/* mini  project outer line style end */



img{
  height: 65%;
  width: 95%;
  border: 1px solid #ede6e6;
  border-radius: 1ch;
}


.footer{
  text-align: center;
  padding: 30PX;

}

a{
  border: solid 1px rgb(246, 236, 236);
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 8px;
  text-decoration: none;
  box-shadow: -2px -2px 5px 5px rgba(241, 241, 245, 0.99);
  box-shadow: 2px 2px 10px 2px rgba(229, 229, 235, 0.629)


}


a:hover{
  background-color:forestgreen;
}




@keyframes down {
  from {

    transform: translateY(110%);
  }
  to {
    /* returns the sun to its default position */
    transform: translateY(0%);
  }
}



@media screen and (max-device-width:428px),screen and (max-width:428px) 
{
  *{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

}

@media screen and (max-device-width:237px),screen and (max-width:237px) 
{
  *{
    font-size: 8px;
    font-family: 'Times New Roman', Times, serif;
  }

}



@media screen and (max-device-width:190px),screen and (max-width:190px) 
{
*{
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
}

}